{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
    <button class="easterEgg">Click me!</button>
{% endblock %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('.post').click(function () {
            var color = '#'+Math.floor(Math.random()*16777215).toString(16);
            $(this).css('background-color', color);
        });
        $('.easterEgg').click(function () {
            alert('Clicked!');
        })
    });
</script>
{% endblock %}